<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dapeng Liu</title>
	</head>
	<body>
    <div>
      <div align="center">
        <h1><span>Dapeng Liu  刘大鹏</span></h1>
      </div>
      <div align="center">
        <div>
          Address: No.40 newport pkwy, Apt.0314, Jersey City, New Jersey, 07310
        </div>
        <div>
          <span>
            dl3766@nyu.edu | (646) 571-9514 |
            <a href="https://github.com/ltflbxldp">https://github.com/ltflbxldp |</a>
            <a href="https://www.linkedin.com/in/dapeng-liu/">https://www.linkedin.com/in/dapeng-liu/</a>
          </span>
        </div>
      </div>
    </div>
    <div>
      <div align="center">
        <h2>EDUCATION</h2>
          -----------------------------------------------------------------------------
        <div>
          <div>
            NEW YORK UNIVERSITY
          </div>
          <div>
            Brooklyn, NY Expected 05/2019
          </div>
          <div>
            Master of Science in Electrical Engineering
          </div>
          <div>
            GPA: 3.95/4.0
          </div>
        </div>
        <br></br>
        <div>
          <div>
            FUDAN UNIVERSITY
          </div>
          <div>
            Shanghai, CN    09/2013 – 06/2017
          </div>
          <div>
            Bachelor of Engineering in Electronic Information Science & Technology
          </div>
          <div>
            CUMULATIVE GPA: 3.56/4.0 (Rank: 16/103)
          </div>
          <div>
            MAJOR GPA: 3.79/4.0
          </div>
        </div>
      </div>
    </div>
    <div>
      <div align="center">
        <h2>PROGRAMMING / IT SKILLS</h2>
          -----------------------------------------------------------------------------
      </div>
      <div align="left">
        <div>
          • Programming skills: Python, C, HTML, JavaScript/ES6, SQL
        </div>
        <div>
          • IT Skills: Django, React, Redux, Flask, GitHub, MySQL, SQLite3, TCP/IP, Operating System, simple crawler
        </div>
      </div>
    </div>
    <div>
      <div align="center">
        <h2>EXPERIENCE</h2>
          -----------------------------------------------------------------------------
      </div>
      <div>
        <div align="center">
          <div>
            Alibaba Group @ ELEME  Backend Assitant Engineer
          </div>
          <div>
            Beijing, CN  05/2018 - 08/2018
          </div>
        </div>
        <div align="left">
          <div>
            •	Designed middleware and RESTful APIs for an SOA governance system based on Flask using Python and Zookeeper.
          </div>
          <div>
            •	Participated in developing frontend panel for SOA governance system based on React and Redux framework.
          </div>
          <div>
            •	Designed data schemas, serialized and deserialized JSON data, and modified content of ‘request’ and ‘response’ based on HTTP protocol.
          </div>
          <div>
            •	Used Pytest (fixture, parametrize) and Mocker to finish Unit Testing and Integration Testing for new middleware and APIs.
          </div>
          <div>
            •	Used Docker pulling virtual images of MySQL, Zookeeper and WSGI service to develop on localhost.
          </div>
        </div>
      </div>
      <div>
        <div align="center">
          <div>
            New York University  Teaching Assistant
          </div>
          <div>
            Brooklyn, NY  02/2018 - 12/2018
          </div>
        </div>
        <div align="left">
          <div>
            •	Explain course-related questions and grade for students.
          </div>
        </div>
      </div>
      <div>
        <div align="center">
          <div>
            Thermo Fisher Scientfic  EE Internship
          </div>
          <div>
            Shanghai, CN  12/2016 - 03/2017
          </div>
        </div>
        <div align="left">
          <div>
            •	Participated in layout.  Designed & executed test plan and debugged for mainboard.
          </div>
          <div>
            •	Maintained BOM, built up SCH/PCB libraries and taught staffs how to build up and manage libraries in Altium Designer.
          </div>
          <div>
            •	Built SVN platform for management and share of data
          </div>
        </div>
      </div>
    </div>
    <div>
      <div align="center">
        <h2>PUBLICATION</h2>
          -----------------------------------------------------------------------------
      </div>
      <div align="left">
        <div>
          Dan Li, Hao Yu, Feng Xu, Dapeng Liu, Jianqiu Zhang, Dean Ta, An lp-norm approach to robust probabilistic inspection of plate-like structure defects with guided waves, Smart Material and Structures, 2017, Vol (26), 104003
        </div>
        <div>
          Impact Factor: 2.963
        </div>
      </div>
      <div align="left">
        <div>
          Dan Li, Dapeng Liu, Hao Yu, Feng Xu, Jianqiu Zhang, Research and Design of the High Precision Guided Wave Tomography System, Technical Acoustic, 2016, 35(06): 384-386
        </div>
        <div>
          Impact Factor: 0.711
        </div>
      </div>
    </div>
    <div>
      <div align="center">
        <h2>RESEARCH / ACADEMIC PROJECTS </h2>
          -----------------------------------------------------------------------------
      </div>
      <div>
        <div align="center">
          <div>
            Personal blog design @ Personal project
          </div>
          <div>
            <span>
              Url:
              <a href="www.dapengliu.top/blog/home">www.dapengliu.top/blog/home</a>
            </span>
          </div>
        </div>
        <div align="left">
          <div>
            •	Implemented a personal blog by Python using Django framework and Bootstrap.
          </div>
          <div>
            •	Deployed the blog on an EC2 instance (Ubuntu) of AWS with Nginx proxy and uWSGI web server using database SQLite3 and my own domain name.
          </div>
        </div>
      </div>
      <br />
      <div>
        <div align="center">
          <div>
            Black-white images colorization @ Department of Electrical and Computer Engineering
          </div>
        </div>
        <div align="left">
          <div>
            •	Implemented a machine learning model of CNN to colorize black-white images.
          </div>
          <div>
            •	Used Flickr API to get training and testing images as dataset.
          </div>
        </div>
      </div>
      <br />
      <div>
        <div align="center">
          <div>
            Simple friend-recommendation system of social network @ Department of Electrical and Computer Engineering
          </div>
        </div>
        <div align="left">
          <div>
            •	Implemented a simple friend-recommendation model of social network by AMPL.
          </div>
          <div>
            •	Analyzed the logistic relationship between similarity of two people and the tendency to recommend them to each other.
          </div>
        </div>
      </div>
    </div>
    <div>
      <div align="center">
        <h2>HONORS / AWARDS</h2>
          -----------------------------------------------------------------------------
      </div>
      <div align="left">
        <div>
          •	Graduate Student Scholarship at NYU, 2017
        </div>
        <div>
          •	National First Prize of High School Student Biology Competition in China, 2012
        </div>
      </div>
    </div>
	</body>
</html>
